@tailwind base;
@tailwind components;
@tailwind utilities;
.spanOne
{
  background-image: url(https://images.unsplash.com/photo-1676385901228-64ad87402847?q=80&w=1965&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
  background-size: cover;
  background-position: center;
}
.spanTwo
{
  background-image: url(https://images.unsplash.com/photo-1676385901228-64ad87402847?q=80&w=1965&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
  background-size: cover;
  background-position: center;
}
.spanThree
{
  background-image: url(https://images.unsplash.com/photo-1676385901228-64ad87402847?q=80&w=1965&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
  background-size: cover;
  background-position: center;
}